:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #ffffffcc;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
  max-height: 100vh;
}

.pointer {
  cursor: pointer;
}

.App {
  border-radius: 8px;
  margin-top: 24px;
  padding: 4px;
  background-color: #202a27d0;
}

.header {
  display: flex;
  justify-content: space-between;
  border-radius: 8px 8px 0 0;

  &__month {
    display: flex;

    &--display {
      display: flex;
      width: 120px;
      justify-content: center;
    }
  }
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 20vmin);
  grid-template-rows: repeat(6, 12vmin);
  grid-gap: 1px;
  padding: 8px;
  border-radius: 0 0 8px 8px;
}

.cell {
  font-size: 10px;
  line-height: 12px;
  font-weight: 600;
  background-color: #f0ffff;
  color: #6a6464;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 8px;

  &:nth-child(1) {
    border-radius: 8px 0 0 0;
  }

  &:nth-child(7) {
    border-radius: 0 8px 0 0;
  }

  &:nth-child(36) {
    border-radius: 0 0 0 8px;
  }

  &:nth-child(42) {
    border-radius: 0 0 8px 0;
  }

  &--day {
    display: flex;
    justify-content: space-between;
  }

  &--out {
    opacity: 0.5;
  }

  &--curr {
    background-color: #ecee52
  }

  &--ev {
    margin: 2px;
    padding: 2px;
    color: #fff;
    background-color: #09a593;
    border-radius: 4px;
  }
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000048;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.data-picker {
  width: 200px;
  height: 150px;
  border-radius: 8px;
  padding: 8px;
  background-color: #202a27;
  display: flex;
  align-items: center;
  flex-direction: column;
  &--header {
    display: flex;
  }
  &--months {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 8px;
    grid-row-gap: 8px;
  }
}

.form {
  width: 300px;
  height: 500px;
  transform: translate(-50%, -50%);
  background-color: #a97c54;
  padding: 16px;
  border-radius: 8px;

  &__title {
    display: flex;
    justify-content: space-around;
    place-items: center;
  }
}

.error {
  font-size: 10px;
  font-weight: 600;
  color: rgb(171, 7, 7);
}

input, select, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 16px;
  color: #fff;
  background-color: transparent;
  border-style: none;
  border-bottom: 1px solid #fff;
}

::placeholder {
  color: #fff;
}

input[type="date"], input[type="time"] {
  width: 50%;
  height: 24px;
}

.form-footer {
  display: flex;
  margin-top: 16px;
  justify-content: space-around;
}

button[type="submit"] {
  background: transparent;
  border-radius: 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 100;
  padding: 16px;
  box-shadow: 1px 1px 2px 0 #000;
  text-shadow: 1px 1px 2px #000;
  border: solid #fff 1px;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;

  &:hover {
    border: solid #a97c54 1px;
    background: #fff;
    color: #a97c54;
 }
}
